.checkbox-container {
    margin: 0 1rem;
}

.checkbox-label {
    display: flex;
    align-items: center;
    cursor: pointer;
    color: #333;
}

.checkbox-input {
    margin-right: 0.5rem;
    width: 16px;
    height: 16px;
    cursor: pointer;
}

.checkbox-text {
    font-size: 1rem;
    color: #333;
    user-select: none;
}